<div class="heading">
<h1 mat-dialog-title>{{ data.editMode ? 'Edit Bus Master' : 'Add Bus Master' }}</h1>
</div>
<div mat-dialog-content>
  <form #stationForm="ngForm">
    <div class="form-group">
      <label for="busNumber">Bus Number:</label>
      <input type="text" id="busNumber" [(ngModel)]="station.busNumber" name="busNumber" required>
    </div>

    <div class="form-group">
      <label for="busType">Bus Type:</label>
      <input type="text" id="busType" [(ngModel)]="station.busType" name="busType" required>
    </div>

    <div class="form-group">
      <label for="capacity">Capacity:</label>
      <input type="number" id="capacity" [(ngModel)]="station.capacity" name="capacity" required>
    </div>


    <div class="form-group">
        <label for="isActive">Status:</label>
        <select id="isActive" [(ngModel)]="station.isActive" name="isActive" required>
          <option [value]="true">True</option>
          <option [value]="false">False</option>
        </select>
      </div>

    <div mat-dialog-actions class="dialog-actions">
      <button mat-button mat-dialog-close (click)="closeDialog()">Close</button>
      <button type="submit" mat-raised-button color="primary" (click)="saveStation()">{{ data.editMode ? 'Update Bus Master' : 'Add Bus Master' }}</button>
    </div>

    <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
  </form>
</div>
