<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/9324db1b-9712-4061-9727-1817b3bd6560/resourceGroups/BusProject-Api/providers/Microsoft.Web/sites/bus</ResourceId>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://bus-grf3ctgfcvfscaaj.canadacentral-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ProjectGuid>39209a48-3fef-4611-8dbd-ce25276df011</ProjectGuid>
    <PublishUrl>https://bus-grf3ctgfcvfscaaj.scm.canadacentral-01.azurewebsites.net/</PublishUrl>
    <UserName>$bus</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>