<div class="container main-easy mt-5">
    <div class="row">
      <!-- Step 1 -->
      <div class="col-lg-4 mb-2 mt-4 animated-flip">
        <div class="box">
          <div>
            <span class="box-item">
              <mat-icon class="easy-icon">location_on</mat-icon>
            </span>
            <h5 class="text-center animated-fade-in success" >Choose A Destination</h5>
            <br />
            <p class="text-center">
              Which depot you wants to go and from which <br />
              depot you are starting your journey.
            </p>
          </div>
        </div>
      </div>
  
      <!-- Step 2 -->
      <div class="col-lg-4 mb-2 mt-4 animated-flip">
        <div class="box">
          <div>
            <span class="box-item">
              <mat-icon class="easy-icon">search</mat-icon>
            </span>
            <h5 class="text-center success">Search</h5>
            <br />
            <p class="text-center">
              In search you will find many buses, choose a bus of <br />
              your comfort and start your journey.
            </p>
          </div>
        </div>
      </div>
  
      <!-- Step 3 -->
      <div class="col-lg-4 mb-2 mt-4 animated-flip">
        <div class="box">
          <div>
            <span class="box-item">
              <mat-icon class="easy-icon">mood</mat-icon>
            </span>
            <h5 class="text-center success">Happy Journey</h5>
            <br />
            <p class="text-center">
              "आपकी यात्रा शुभ हो" Hope! This information helps <br />
              you a lot.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  