<mat-sidenav-container class="sidebar-container">
    <mat-sidenav #sidenav mode="side" opened>
      <div class="sidebar">
        <h2 >UME<span class="h2-title">BUS</span></h2>
        <mat-nav-list>
  
          <!-- Dashboard -->
          <mat-list-item routerLink="/dashboard" class="menu-item">
            <mat-icon class="menu-icon">dashboard</mat-icon>
            <span>Dashboard</span>
          </mat-list-item>
          <!-- Bus Add -->
           <mat-list-item routerLink="/bus-master" class="menu-item">
            <mat-icon class="menu-icon">directions_bus</mat-icon>
            <span>Add Bus</span>
          </mat-list-item>
    <!-- Station Master -->

     <mat-list-item routerLink="/bus-schedule" class="menu-item">
              <mat-icon class="menu-icon">schedule</mat-icon>
              <span>Station Routes</span>
            </mat-list-item>

          <mat-list-item routerLink="/station-master" class="menu-item">
            <mat-icon class="menu-icon">directions_bus</mat-icon>
            <span>Station Master </span>
          </mat-list-item>
      
  
   
         
  
       
  
          <!-- Bus Stoppage Details -->
      
  
      
            <mat-list-item routerLink="/bus-stoppage" class="menu-item">
              <mat-icon class="menu-icon">location_on</mat-icon>
              <span>Bus Stoppage Details</span>
            </mat-list-item>
           
            <!-- <mat-list-item routerLink="/station" class="menu-item">
              <mat-icon class="menu-icon">track_changes</mat-icon>
              <span>Station</span>
            </mat-list-item> -->
      
          
  
        </mat-nav-list>
      </div>
    </mat-sidenav>
  </mat-sidenav-container>
  