


.sidebar {
  width: 250px;
  height: 100%;
  background: #2c3e50;
  color: white;
  padding: 6px;
}

h2 {
  color: white;
  padding: 10px;
}
.h2-title{
    color: #f13333;
    font-weight: bold;
    text-align: center;
    
}

.menu-item {
  display: flex;
  align-items: center;
  gap: 10px;
  color: white !important;
  font-size: 16px;
  font-weight: 500;
  padding: 10px;
  width: 100%;
  cursor: pointer;
  text-decoration: none;

  &:hover {
    background: rgba(255, 255, 255, 0.1);
  }
}

.menu-icon {
  color: white;
}
.dropdown-open {
    max-height: 300px;
    opacity: 1;
    transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out;
  }
  
  .dropdown-closed {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out;
  }
  

.dropdown-menu {
  overflow: hidden;
  transition: height 0.3s ease-in-out;
  background: #34495e;
  padding-left: 20px;
}

.dropdown-icon {
  margin-left: auto;
  transition: transform 0.3s ease-in-out;
}




