USE [master]
GO
/****** Object:  Database [BusProjectDB]    Script Date: 8/16/2025 11:59:56 AM ******/
CREATE DATABASE [BusProjectDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BusProjectDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\BusProjectDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BusProjectDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\BusProjectDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BusProjectDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BusProjectDB]
GO
/****** Object:  Table [dbo].[Bus]    Script Date: 8/16/2025 11:59:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bus](
	[BusNumber] [nvarchar](50) NOT NULL,
	[BusType] [nvarchar](100) NULL,
	[Capacity] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[IsActive] [bit] NULL,
	[BUSID] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_Bus] PRIMARY KEY CLUSTERED 
(
	[BUSID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BusRouteStoppageDetails]    Script Date: 8/16/2025 11:59:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BusRouteStoppageDetails](
	[StopID] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[BusID] [numeric](18, 0) NOT NULL,
	[StationID] [numeric](18, 0) NOT NULL,
	[ArrivalTime] [varchar](20) NULL,
	[DepartureTime] [varchar](20) NULL,
	[isActive] [bit] NOT NULL,
	[DoneAt] [datetime] NOT NULL,
	[BusRouteID] [numeric](18, 0) NULL,
	[SortingID] [numeric](18, 0) NULL,
 CONSTRAINT [PK_BusRouteStoppageDetails] PRIMARY KEY CLUSTERED 
(
	[StopID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Driver]    Script Date: 8/16/2025 11:59:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Driver](
	[DriverID] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](100) NOT NULL,
	[LastName] [nvarchar](100) NULL,
	[LicenseNumber] [nvarchar](50) NULL,
	[CreatedDate] [datetime] NULL,
	[IsActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[DriverID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StationRoutes]    Script Date: 8/16/2025 11:59:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StationRoutes](
	[BusRouteId] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[BusId] [numeric](18, 0) NOT NULL,
	[FromStation] [nvarchar](255) NOT NULL,
	[ToStation] [nvarchar](255) NOT NULL,
	[ViaRouteName] [nvarchar](255) NULL,
	[Date] [datetime] NOT NULL,
	[DepartureTime] [datetime] NOT NULL,
	[CreatedDate] [datetime] NULL,
	[ModifiedDate] [datetime] NULL,
	[DropTime] [datetime] NULL,
	[TotalDistance] [int] NULL,
	[DaysAvailable] [nvarchar](50) NULL,
 CONSTRAINT [PK_StationRoutes] PRIMARY KEY CLUSTERED 
(
	[BusRouteId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StationsMaster]    Script Date: 8/16/2025 11:59:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StationsMaster](
	[StationID] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[StationName] [nvarchar](255) NOT NULL,
	[RevenueName] [nvarchar](255) NULL,
	[IsActive] [bit] NULL,
	[DoneAt] [datetime] NULL,
	[District] [varchar](50) NULL,
	[Tahsil] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[StationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserRegistration]    Script Date: 8/16/2025 11:59:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserRegistration](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](255) NULL,
	[Email] [nvarchar](255) NULL,
	[Phone] [nvarchar](20) NULL,
	[CreatedDate] [datetime] NOT NULL,
	[CreatedBy] [nvarchar](255) NOT NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedBy] [nvarchar](255) NULL,
	[IsActive] [bit] NOT NULL,
	[RoleID] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Bus] ON 

INSERT [dbo].[Bus] ([BusNumber], [BusType], [Capacity], [CreatedDate], [IsActive], [BUSID]) VALUES (N'ABCD', N'GOVT.', 60, CAST(N'2025-06-14T00:00:00.000' AS DateTime), 1, CAST(26 AS Numeric(18, 0)))
INSERT [dbo].[Bus] ([BusNumber], [BusType], [Capacity], [CreatedDate], [IsActive], [BUSID]) VALUES (N'HR-FH-2222', N'PVT', 55, CAST(N'2025-06-14T12:32:44.603' AS DateTime), 1, CAST(27 AS Numeric(18, 0)))
INSERT [dbo].[Bus] ([BusNumber], [BusType], [Capacity], [CreatedDate], [IsActive], [BUSID]) VALUES (N'HR-FH-1122', N'PVT', 55, CAST(N'2025-06-14T00:00:00.000' AS DateTime), 1, CAST(28 AS Numeric(18, 0)))
SET IDENTITY_INSERT [dbo].[Bus] OFF
GO
SET IDENTITY_INSERT [dbo].[BusRouteStoppageDetails] ON 

INSERT [dbo].[BusRouteStoppageDetails] ([StopID], [BusID], [StationID], [ArrivalTime], [DepartureTime], [isActive], [DoneAt], [BusRouteID], [SortingID]) VALUES (CAST(19 AS Numeric(18, 0)), CAST(26 AS Numeric(18, 0)), CAST(98 AS Numeric(18, 0)), N'12:00', N'12:05', 1, CAST(N'2025-06-14T12:37:00.000' AS DateTime), CAST(4 AS Numeric(18, 0)), CAST(1 AS Numeric(18, 0)))
INSERT [dbo].[BusRouteStoppageDetails] ([StopID], [BusID], [StationID], [ArrivalTime], [DepartureTime], [isActive], [DoneAt], [BusRouteID], [SortingID]) VALUES (CAST(20 AS Numeric(18, 0)), CAST(26 AS Numeric(18, 0)), CAST(98 AS Numeric(18, 0)), N'12:20', N'12:22', 1, CAST(N'2025-06-14T12:37:00.000' AS DateTime), CAST(4 AS Numeric(18, 0)), CAST(2 AS Numeric(18, 0)))
INSERT [dbo].[BusRouteStoppageDetails] ([StopID], [BusID], [StationID], [ArrivalTime], [DepartureTime], [isActive], [DoneAt], [BusRouteID], [SortingID]) VALUES (CAST(64 AS Numeric(18, 0)), CAST(26 AS Numeric(18, 0)), CAST(100 AS Numeric(18, 0)), N'01:00', N'02:00', 1, CAST(N'2025-07-29T08:54:00.000' AS DateTime), CAST(4 AS Numeric(18, 0)), CAST(1 AS Numeric(18, 0)))
SET IDENTITY_INSERT [dbo].[BusRouteStoppageDetails] OFF
GO
SET IDENTITY_INSERT [dbo].[StationRoutes] ON 

INSERT [dbo].[StationRoutes] ([BusRouteId], [BusId], [FromStation], [ToStation], [ViaRouteName], [Date], [DepartureTime], [CreatedDate], [ModifiedDate], [DropTime], [TotalDistance], [DaysAvailable]) VALUES (CAST(4 AS Numeric(18, 0)), CAST(26 AS Numeric(18, 0)), N'Fatehabad', N'Hisar', N'Fatehabad > Badopal > Agroha > Hisar', CAST(N'2025-06-14T12:26:33.533' AS DateTime), CAST(N'2025-06-14T12:26:33.533' AS DateTime), CAST(N'2025-06-14T12:26:33.533' AS DateTime), CAST(N'2025-06-14T12:26:33.533' AS DateTime), CAST(N'2025-06-14T12:26:33.533' AS DateTime), 50, N'days')
INSERT [dbo].[StationRoutes] ([BusRouteId], [BusId], [FromStation], [ToStation], [ViaRouteName], [Date], [DepartureTime], [CreatedDate], [ModifiedDate], [DropTime], [TotalDistance], [DaysAvailable]) VALUES (CAST(5 AS Numeric(18, 0)), CAST(27 AS Numeric(18, 0)), N'Fatehabad', N'Hisar', N'Fatehabad > Agroha > Hisar', CAST(N'2025-06-14T12:26:33.533' AS DateTime), CAST(N'2025-06-14T12:26:33.533' AS DateTime), CAST(N'2025-06-14T12:26:33.533' AS DateTime), CAST(N'2025-06-14T12:26:33.533' AS DateTime), CAST(N'2025-06-14T12:26:33.533' AS DateTime), 50, N'alldays')
INSERT [dbo].[StationRoutes] ([BusRouteId], [BusId], [FromStation], [ToStation], [ViaRouteName], [Date], [DepartureTime], [CreatedDate], [ModifiedDate], [DropTime], [TotalDistance], [DaysAvailable]) VALUES (CAST(10009 AS Numeric(18, 0)), CAST(26 AS Numeric(18, 0)), N'Bhuna', N'Fatehabad', N'Jhalania', CAST(N'2005-07-29T00:00:00.000' AS DateTime), CAST(N'2005-07-29T01:01:00.000' AS DateTime), NULL, NULL, CAST(N'2005-07-29T01:20:00.000' AS DateTime), 25, N'alldays')
SET IDENTITY_INSERT [dbo].[StationRoutes] OFF
GO
SET IDENTITY_INSERT [dbo].[StationsMaster] ON 

INSERT [dbo].[StationsMaster] ([StationID], [StationName], [RevenueName], [IsActive], [DoneAt], [District], [Tahsil]) VALUES (CAST(98 AS Numeric(18, 0)), N'bhuna', N'Dhangar', 1, CAST(N'2025-06-14T00:00:00.000' AS DateTime), N'Fatehabad', N'Fatehabad')
INSERT [dbo].[StationsMaster] ([StationID], [StationName], [RevenueName], [IsActive], [DoneAt], [District], [Tahsil]) VALUES (CAST(99 AS Numeric(18, 0)), N'Badopal', N'Badopal', 1, CAST(N'2025-06-14T06:48:44.953' AS DateTime), N'Fatehabad', N'Fatehabad')
INSERT [dbo].[StationsMaster] ([StationID], [StationName], [RevenueName], [IsActive], [DoneAt], [District], [Tahsil]) VALUES (CAST(100 AS Numeric(18, 0)), N'Khara Kheri', N'Khara Kheri', 1, CAST(N'2025-06-14T06:48:44.953' AS DateTime), N'Fatehabad', N'Fatehabad')
SET IDENTITY_INSERT [dbo].[StationsMaster] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__UserRegi__A9D1053435066526]    Script Date: 8/16/2025 11:59:56 AM ******/
ALTER TABLE [dbo].[UserRegistration] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Bus] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Bus] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[BusRouteStoppageDetails] ADD  CONSTRAINT [DF_BusRouteStoppageDetails_isActive]  DEFAULT ((1)) FOR [isActive]
GO
ALTER TABLE [dbo].[BusRouteStoppageDetails] ADD  CONSTRAINT [DF_BusRouteStoppageDetails_DoneAt]  DEFAULT (getdate()) FOR [DoneAt]
GO
ALTER TABLE [dbo].[Driver] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Driver] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[StationRoutes] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[StationsMaster] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[StationsMaster] ADD  DEFAULT (getdate()) FOR [DoneAt]
GO
ALTER TABLE [dbo].[UserRegistration] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[UserRegistration] ADD  CONSTRAINT [DF__UserRegis__IsAct__17F790F9]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[BusRouteStoppageDetails]  WITH CHECK ADD  CONSTRAINT [FK_BusRouteStoppageDetails_Bus] FOREIGN KEY([BusID])
REFERENCES [dbo].[Bus] ([BUSID])
GO
ALTER TABLE [dbo].[BusRouteStoppageDetails] CHECK CONSTRAINT [FK_BusRouteStoppageDetails_Bus]
GO
ALTER TABLE [dbo].[BusRouteStoppageDetails]  WITH CHECK ADD  CONSTRAINT [FK_BusRouteStoppageDetails_StationsMaster] FOREIGN KEY([StationID])
REFERENCES [dbo].[StationsMaster] ([StationID])
GO
ALTER TABLE [dbo].[BusRouteStoppageDetails] CHECK CONSTRAINT [FK_BusRouteStoppageDetails_StationsMaster]
GO
ALTER TABLE [dbo].[StationRoutes]  WITH CHECK ADD  CONSTRAINT [FK_StationRoutes_Bus] FOREIGN KEY([BusId])
REFERENCES [dbo].[Bus] ([BUSID])
GO
ALTER TABLE [dbo].[StationRoutes] CHECK CONSTRAINT [FK_StationRoutes_Bus]
GO
USE [master]
GO
