<div class="container">
  <div class="row text-center">
    <div class="col-12 fade-in">
      <h6 class="success">DESTINATION</h6>
      <h3 class="success">HR Popular Destination</h3>
    </div>
  </div>

  <div class="row destination-container">
    <div class="col-12 col-md-6 fade-in">
      <h6 class="text-center route success">Chandigarh</h6>
      <img src="{{ img3 }}" alt="Destination" class="Destination img-fluid" />

      <div class="row mt-3">
        <div class="col-12 col-md-6 zoom-in">
          <h6 class="text-center route success">Delhi</h6>
          <img src="{{ img1 }}" alt="Destination" class="Destination img-fluid" />
        </div>
        <div class="col-12 col-md-6 text-center mb-2 zoom-in">
          <h6 class="text-center route success">Khatu Shyam</h6>
          <img src="{{ img2 }}" alt="Destination" class="Destination img-fluid" />
        </div>
      </div>
    </div>

    <div class="col-12 col-md-6 fade-in">
      <h6 class="text-center route success">Shimla</h6>
      <img src="{{ img4 }}" alt="Destination" class="Destinations img-fluid" />
    </div>
  </div>
</div>
