<div class="dashboard-content container mt-4">
  <!-- Welcome Card -->
  <mat-card class="welcome-card p-4 text-center">
    <h3 class="text-primary">Congratulations John! 🎉</h3>
    <p>You have achieved <strong>72%</strong> more sales today. Keep up the great work!</p>
  </mat-card>

  <!-- Stats Section -->
  <div class="stats row mt-4">
    <div class="col-md-3 col-sm-6">
      <mat-card class="stat-card text-center p-3">
        <mat-icon class="stat-icon text-warning fs-1 mt-3 ">shopping_cart</mat-icon>
        <h4>BUs Master</h4>
        <p class="font-weight-bold">27</p>
      </mat-card>
    </div>
    <div class="col-md-3 col-sm-6">
      <mat-card class="stat-card text-center p-3">
        <mat-icon class="stat-icon text-success fs-1 mt-3">attach_money</mat-icon>
        <h4>Station Master</h4>
        <p class="font-weight-bold">10</p>
      </mat-card>
    </div>
    <div class="col-md-3 col-sm-6">
      <mat-card class="stat-card text-center p-3">
        <mat-icon class="stat-icon text-info fs-1 mt-3">payment</mat-icon>
        <h4>Bus Route</h4>
        <p class="font-weight-bold">20</p>
      </mat-card>
    </div>
    <div class="col-md-3 col-sm-6">
      <mat-card class="stat-card text-center p-3">
        <mat-icon class="stat-icon text-danger fs-1 mt-3">trending_up</mat-icon>
        <h4>Revenue</h4>
        <p class="font-weight-bold">$425k</p>
      </mat-card>
    </div>
  </div>
</div>
