<div class="container">
    <div class="header">
      <h2 class="title">Station Master</h2>
      <button class="add-btn"  (click)="openDialog(false)">+ Add </button>
    </div>
  
   
  
 
  <div >

 
    <table class="table table-striped table-bordered" *ngIf="!loading">
      <thead class="table-dark">
        <tr>
          <th>#</th>
          <th>stationID</th>
          <th>Station Name</th>
          <th>Revenue Name</th>
          <th>Tehsil</th>
          <th>District</th>
          <th>Date</th>
          <th>Status</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let route of product; let i = index" class="fade-in">
          <td>{{ i + 1 }}</td>
          <td>{{route.stationID + 1 }}</td>
          <td>{{ route.stationName }}</td>
          <td>{{ route.revenueName }}</td>
          <td>{{ route.tahsil }}</td>
          <td>{{ route.district }}</td>

          <td>{{ route.doneAt | date: 'mediumDate' }}</td> 
          <td>{{ route.isActive }}</td>
          <td>
            <button class="btn btn-sm btn-warning me-2 text-white"    (click)="openDialog(true, route)">Edit</button>
            <button class="btn btn-sm btn-danger text-white" (click)="deleteStation(route.stationID)" >Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
    <div *ngIf="product.length === 0" class="alert alert-warning text-center fade-in">
      No Data Found
    </div>
  
    <div *ngIf="loading" class="text-center mt-4">
      <div class="spinner-border text-primary" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>
    </div>
</div>

  